div
{
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
}
.fileReceved
{
    font-size:15px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    padding-left:10px;
}
.margin
{
    margin-left:4px;
    padding-left:4px;
}
.align
{
 text-align:right;
}
.margincard
{
 margin-right:9px;
}
.image
{
  width:165px; 
  height:190px; 
}
input[type=file]{
    width:0px;
    border: 1px solid white;
    color:transparent;
    font-size:12px;
    
}

@media (max-width:980px) 
{
 
    .margincard
    {
     margin-right:0px;
     margin-bottom:5px;
    }
    .image
    {
      
      height:190px; 
    }


}
 @media(max-width:576px) 
{
    img
    {
        margin-left:25px;
    }

}















