<div class="card"><!--debut card1-->
   <h5 class="card-header bg-warning text-center">Profil</h5>
    <div class="card-body"> <!--debut card-body1-->
     
    <div class="row no-gutters mb-2"> <!--debut row1-->
     <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
      
      <div class="card margincard"> <!--debut card2-->
        <div class="card-header"><!-- debut card-header2-->
          <b>Informations personelles</b>
        </div><!--end card-herder2-->
        <div class="card-body"><!--debut card-body2-->
           
          
          <div class="row mb-1 no-gutters">
            <div class="col-xl-6 col-md-6 col-sm-12">
                  
                <div class="row no-gutters">
                    <div class="col-5 align">
                    <b> Nom et prenom</b> : 
                    </div>
                    <div class="col-7">
                     Abdoulkarim babami garba
                    </div>
               </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="row no-gutters">
                    <div class="col-5 offset-md-2 align">
                    <b> Date de naissance </b>:
                    </div>
                    <div class="col-5">
                    14 septembre 1985
                    </div>
                </div>
            </div>
      </div> <!-- end row no-gutters-->
       
      <div class="row mb-1 no-gutters">
        <div class="col-xl-6 col-md-6 col-sm-12">
              
            <div class="row no-gutters">
                <div class="col-5 align">
                 <b>Identifiant TSK</b> :
                </div>
                <div class="col-7">
                 {{tsk}}
                </div>
           </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
            <div class="row no-gutters">
                <div class="col-5 offset-md-2 align">
                 <b> Date d'adhésion </b> :
                </div>
                <div class="col-5">
                14 septembre 1985
                </div>
            </div>
        </div>
    </div> <!-- end row no-gutters-->

    <div class="row mb-1 no-gutters">
      <div class="col-xl-6 col-md-6 col-sm-12">
            
          <div class="row no-gutters">
              <div class="col-5 align">
               <b> Organisme </b> :
              </div>
              <div class="col-7">
               001-ADASHI SABONGARI
              </div>
         </div>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="row no-gutters">
              <div class="col-5 offset-md-2 align">
              <b> Agence </b>  :
              </div>
              <div class="col-5">
              Yaounde/Briqueterie
              </div>
          </div>
      </div>
    </div> <!-- end row no-gutters-->
    
    <div class="row mb-1 no-gutters">
      <div class="col-xl-6 col-md-6 col-sm-12">
            
          <div class="row no-gutters">
              <div class="col-5 align">
               <b> Email :</b>
              </div>
              <div class="col-7">
                 {{mail}}
              </div>
         </div>
      </div>
      <div class="col-xl-6 col-md-6 col-sm-12">
          <div class="row no-gutters">
              <div class="col-5 offset-md-2 align">
              <b>Statut Adhérent </b>  :
              </div>
              <div class="col-5">
              Epargnant
              </div>
          </div>
      </div>
    
    
    </div> <!-- end row no-gutters-->
















        </div><!--end card-body2-->
      </div><!-- end card2-->











    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
    


      <div class="card"><!-- debutcards3-->

        <div class="row"><!--debut row2-->
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                 <img src="{{urlphoto}}" class="card-img" alt="..." class="rounded-sm rounded-sm p-1 image">
               </div>
               <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                 <div class="card-body">
                   <h5 class="card-title ml-1"style="font-size:14px;"><b>Selectionner un nouvel avatar</b></h5>
                  <form (ngSubmit)="onsubmit1()">
                   <div class="form-group">
                   
                   <input type="file" (change)="onFileSelected($event)" class="form-control form-control-sm" id="customFile"accept="image/*"/>
                   
                   </div>
                   <p class="fileReceved">{{fileReceived}}</p>
                   <p class="card-text ml-2">
                     <button  type="submit"
                      class="btn btn-success btn-sm mr-2"
                      [disabled]="!fileReceived">Mise a jour</button>
                     <button
                     type="button" 
                     class="btn btn-danger btn-sm"
                     style="cursor:pointer"
                     
                    (click)="ondelete()"
                    [disabled]="fileReceived">Supprimer</button>
                   </p>
                  </form>
                 </div>
                   
               </div>
      
       </div> <!--endrow2-->
     
      </div> <!--endcards3-->

























    </div>
   </div><!--end row1-->







        <form [formGroup]="updatePassword" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="formGroupExampleInput"><b>Adresse Email</b></label>
              <input type="email" 
              class="form-control" 
              id="formGroupExampleInput" 
              placeholder="Example@gmail.com"
              formControlName="email">
              <p style="color: red;">{{errorEmail}}</p>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2"><b>Mot de passe actuel</b></label>
              <input type="password" 
                     class="form-control" 
                     id="formGroupExampleInput2" 
                     placeholder="Another input placeholder"
                     formControlName="password1">
                     <p style="color: red;">{{passwor}}</p>
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2"><b>Nouveau mot de passe</b></label>
                <input type="password" 
                       class="form-control" 
                       id="formGroupExampleInput2" 
                       placeholder="Another input placeholder"
                       formControlName="password2">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2"><b> Retaper le nouveau mot de passe</b></label>
                <input type="password" 
                       class="form-control" 
                       id="formGroupExampleInput2" 
                       placeholder="Another input placeholder"
                       formControlName="password3">
                       <p style="color: red;">{{newpa}}</p>
                       <p style="color:#008000;
                       font-size:20px;">{{update}}</p>
              </div>
              <button type="submit" 
              class="btn btn-success"
              [disabled]="updatePassword.invalid">connexion</button>
          </form> <!--end forme-->
        
      
        
    </div><!-- fin card1-->
  </div><!--fin card1-->

