<nav class="navbar navbar-expand-md navbar-dark"
style="border:1px solid #bbb0b0;">
 <a href="#"><i class="fa fa-futbol-o text-warning fa-2x ml-3" aria-hidden="true"></i></a>
 
 <button 
  type="button" 
  class="navbar-toggler bg-warning"
  data-toggle="collapse" 
  data-target="#nav">
 <span class="navbar-toggler-icon"></span>

 </button>
 
 
 



 <div class="collapse navbar-collapse"id="nav" *ngIf="!isAuth">
 <ul class="navbar-nav">
 <li class="navbar-item text-body"><a class="nav-link text-body font-weight px-2 ml-3" [routerLink]="['/cotisation']" routerLinkActive="active bg-warning"> cotisation</a></li>
 <li class="navbar-item text-body"><a class="nav-link text-body font-weight px-2 ml-3" [routerLink]="['/estimation']" routerLinkActive="active bg-warning"> Estimation</a></li>
 <li class="navbar-item text-body"><a class="nav-link text-body font-weight px-2 ml-3" [routerLink]="['/documentation']" routerLinkActive="active bg-warning"> Documentation</a></li>
 </ul>
</div>
 











 <div class="collapse navbar-collapse justify-content-end"
 id="nav">

<ul class="navbar-nav">
 <li class="navbar-item " routerLinkActive ="active" *ngIf="isAuth"><a class="nav-link text-body font-weight px-2" [routerLink]="['/enregistrement']" routerLinkActive="active bg-warning"><i class="fa fa-user-plus" aria-hidden="true"></i> Enregistrement</a></li>
 
 <li class="navbar-item text-body" *ngIf="isAuth"><a class="nav-link text-body  font-weight px-2 ml-3"  [routerLink]="['/connexion']" routerLinkActive="active bg-warning"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a></li>
 <li class="navbar-item text-body" *ngIf="!isAuth"><a class="nav-link text-body font-weight px-2 ml-3" href="#"><i class="fa fa-print" aria-hidden="true" style="color:#c7c75a"></i>  Imprimer</a></li>
 <li class="navbar-item text-body" *ngIf="!isAuth"><a class="nav-link text-body font-weight px-2 ml-3" href="#"><i class="fa fa-bell" aria-hidden="true" style="color:#c7c75a"></i>  Alertes</a></li>
 <li class="navbar-item dropdown text-body" *ngIf="!isAuth">
 <a class="nav-link text-body font-weight px-2 ml-3" data-toggle="dropdown" 
 href="#"><img src="{{urlphoto}}" alt="100x100" width="30" height="30" class="rounded-circle"> babani</a>
 
 <div  class="dropdown-menu dropdown-menu-right">
  <a class="dropdown-item" [routerLink]="['/profil']"><i class="fa fa-user" aria-hidden="true"></i> Profil</a>   
  <a class="dropdown-item"  href="#"><i class="fa fa-cog" aria-hidden="true"></i> Administration</a>   
  <a class="dropdown-item" href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Aide</a>   
  <a class="dropdown-item" href="#"(click)="onSignOut()" style="cursor:pointer"><i class="fa fa-sign-out" aria-hidden="true"></i> Deconnexion</a>   
 </div>
</li>


</ul>
</div>
















</nav>