<div class="card" style="height:550px;">
    <h5 class="card-header bg-warning text-center">Réinitialisation de mot de passe</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
              <label for="formGroupExampleInput"><b>Adresse Email</b></label>
              <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Example@gmail.com">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2"><b>Identifiant TSK</b></label>
                <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="124563897">
            </div>
          </form>
      <a href="#" class="btn btn-success">Réinitialiser</a> 
    </div>
  </div>

