<div class="card">
    <h5 class="card-header bg-warning text-center">Connexion</h5>
    <div class="card-body">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="formGroupExampleInput"><b>Adresse Email</b></label>
              <input type="email" 
              class="form-control" 
              id="formGroupExampleInput"
              placeholder="Example@gmail.com"
              formControlName="email"
              >
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2"><b>Mot de passe</b></label>
              <input type="password" 
              class="form-control" 
              id="formGroupExampleInput2" 
              placeholder="Another input placeholder"
              formControlName="password">
            </div>
            <p style="color:red">{{errorMessage}}</p>
            <button type="submit" 
            class="btn btn-success"
            [disabled]="signinForm.invalid">connexion</button>    <a [routerLink]="['/reinitialisation']"> <span class="text-primary decoration"> Mot de passe oublié?</span></a>
          </form>
      
      <br><br>
    <a [routerLink]="['/enregistrement']" style="cursor:pointer" routerLinkActive="active bg-warning"><p class="text-primary decoration">pas de compte?<span> Enregistrer vous maintenant!</span></p></a> 
    </div>
  </div>
