<div class="card" style="height:550px;">
    <h5 class="card-header bg-warning text-center">Connexion</h5>
    <div class="card-body">
        <form>
            <div class="form-group">
              <label for="formGroupExampleInput"><b>Adresse Email</b></label>
              <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Example@gmail.com">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2"><b>Mot de passe</b></label>
              <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
            </div>
          </form>
      <a href="#" class="btn btn-success">connexion</a>    <a [routerLink]="['/reinitialisation']"> <span class="text-primary"> Mot de passe oublié?</span></a>
      <br><br>
    <a [routerLink]="['/enregistrement']" routerLinkActive="active bg-warning"><p class="text-primary">pas de compte?<span> Enregistrer vous maintenant!</span></p></a> 
    </div>
  </div>
