

<div class="row no-gutters"> <!--first row-->

  <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
  <div class="margin">    
    <img src="{{url}}" class="card-img ajuster" alt="Responsive image">
 </div>
  </div>














































  
    <div class="card no-gutters col-xl-10 col-lg-10 col-md-9 col-sm-12">

    


        <div class="card-header"><b>Informations personnelles</b></div>
        <div class="card-body text-dark">
         
        
       <div class="row mb-1 no-gutters">
        <div class="col-6">
              
            <div class="row no-gutters">
                <div class="col-5 align">
                 Nom et prenom : 
                </div>
                <div class="col-7">
                  <b> Abdoulkarim babami garba</b>
                </div>
           </div>
        </div>
        <div class="col-6">
            <div class="row no-gutters">
                <div class="col-5 offset-md-2 align">
                 Date de naissance :
                </div>
                <div class="col-5">
                  <b> 14 septembre 1985</b>
                </div>
            </div>
        </div>
  </div>



  <div class="row mb-1 no-gutters">
    <div class="col-6">
          
        <div class="row no-gutters">
            <div class="col-5 align">
             Identifiant TSK :
            </div>
            <div class="col-7">
              <b>{{tsk}}</b>
            </div>
       </div>
    </div>
    <div class="col-6">
        <div class="row no-gutters">
            <div class="col-5 offset-md-2 align">
              Date d'adhésion  :
            </div>
            <div class="col-5">
              <b> 14 septembre 1985</b>
            </div>
        </div>
    </div>
</div>



<div class="row mb-1 no-gutters">
  <div class="col-6">
        
      <div class="row no-gutters">
          <div class="col-5 align">
            Organisme  :
          </div>
          <div class="col-7">
            <b> 001-ADASHI SABONGARI</b>
          </div>
     </div>
  </div>
  <div class="col-6">
      <div class="row no-gutters">
          <div class="col-5 offset-md-2 align">
           Agence   :
          </div>
          <div class="col-5">
            <b> Yaounde/Briqueterie</b>
          </div>
      </div>
  </div>
</div>


<div class="row mb-1 no-gutters">
  <div class="col-6">
        
      <div class="row no-gutters">
          <div class="col-5 align">
            Email :
          </div>
          <div class="col-7">
            <b>{{mail}}</b>
          </div>
     </div>
  </div>
  <div class="col-6">
      <div class="row no-gutters">
          <div class="col-5 offset-md-2 align">
          Statut Adhérent   :
          </div>
          <div class="col-5">
            <b> Epargnant</b>
          </div>
      </div>
  </div>


</div> <!-- end row no-gutters-->

        
        
            


































































































































          
        </div><!-- end card-body text-dark-->
    </div><!-- end card-->

    



    
    
    






























































    
    </div><!-- end first row-->


   
    <div class="card mt-3 mb-4">
     <div class="card-header h-10">
         <b>Cotisations et points acquis</b>
       <a><button type="button" class="btn btn-secondary badge-pill btn-sm float-right">Exporter vers excels</button></a>
     </div><!-- end card-herder-->
        <div class="card-body"><!--  card-body2-->
            <div class="table-responsive" id="sailorTableArea"><!--veillez regarder la proprieté overflow qui marge pas merci!-->
            <table  id="sailorTable" class="table table-bordered"  class="table table-bordered table-sm" >
                <thead>
                  <tr>
                    <th scope="col" class="table-warning">année</th>
                    <th scope="col"><b>Jan.</b></th>
                    <th scope="col"><b>fév.</b></th>
                    <th scope="col"><b>mars.</b></th>
                    <th scope="col"><b>avr.</b></th>
                    <th scope="col"><b>mai.</b></th>
                    <th scope="col"><b>Juin.</b></th>
                    <th scope="col"><b>juil.</b></th>
                    <th scope="col"><b>aout.</b></th>
                    <th scope="col"><b>sep.</b></th>
                    <th scope="col"><b>oct.</b></th>
                    <th scope="col"><b>nov.</b></th>
                    <th scope="col"><b>dec.</b></th>
                    <th scope="col" class="table-warning"><b>Total</b></th>
                    <th scope="col" class="table-warning totaux"><b>Point totaux.</b></th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="table-warning">2007</th>
                        <td>57566</td>
                        <td>57566</td>
                        <td>57566</td>
                        <td>57566</td>
                        <td>57566</td>
                        <td>57566</td>
                        <td>57566</td>
                        <td>57566</td>
                        <td>57566</td>
                        <td>57566</td>
                        <td>57566</td>
                        <td>57566</td>
                        <td class="table-warning">57566</td>
                        <td class="table-warning totaux">57566</td>
                        
                      </tr>
                  <tr>
                    <th class="table-warning">2008</th>
                    <td>50121</td>
                    <td>50121</td>
                    <td>50121</td>
                    <td>50121</td>
                    <td>50121</td>
                    <td>50121</td>
                    <td>50121</td>
                    <td>50121</td>
                    <td>50121</td>
                    <td>50121</td>
                    <td>50121</td>
                    <td>50121</td>
                    <td class="table-warning">150 121</td>
                    <td class="table-warning totaux">150 121</td>
                    
                  </tr>
                  <tr>
                    <th class="table-warning">2009</th>
                    <td>47625</td>
                    <td>47625</td>
                    <td>47625</td>
                    <td>47625</td>
                    <td>47625</td>
                    <td>47625</td>
                    <td>47625</td>
                    <td>47625</td>
                    <td>47625</td>
                    <td>47625</td>
                    <td>47625</td>
                    <td>47625</td>
                    <td class="table-warning">457 625</td>
                    <td class="table-warning totaux">457 625</td>
                    
                  </tr>
                  <tr>
                    <th class="table-warning">2010</th>
                    <td>15687</td>
                    <td>15687</td>
                    <td>15687</td>
                    <td>15687</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>Jacob</td>
                    <td>15687</td>
                    <td>15687</td>
                    <td>15687</td>
                    <td class="table-warning">145 987</td>
                    <td class="table-warning totaux">145 987</td>
                    
                  </tr>
                  <tr>
                    <th class="table-warning">2011</th>
                    <td>4875</td>
                    <td>4875</td>
                    <td>4875</td>
                    <td>4875</td>
                    <td>4875</td>
                    <td>4875</td>
                    <td>4875</td>
                    <td>4875</td>
                    <td>4875/td>
                    <td>4875</td>
                    <td>4875</td>
                    <td>4875</td>
                    <td class="table-warning">145 875</td>
                    <td class="table-warning totaux">145 875</td>
                    
                  </tr>
                  <tr>
                    <th class="table-warning">2012</th>
                    <td>75689</td>
                    <td>75689</td>
                    <td>75689</td>
                    <td>75689</td>
                    <td>75689</td>
                    <td>75689</td>
                    <td>75689</td>
                    <td>75689</td>
                    <td>75689</td>
                    <td>75689</td>
                    <td>75689</td>
                    <td>75689</td>
                    <td class="table-warning">785 689</td>
                    <td class="table-warning totaux">785 689</td>
                    
                  </tr>
                  <tr>
                    <th class="table-warning">2013</th>
                    <td>22658</td>
                    <td>22658</td>
                    <td>22658</td>
                    <td>22658</td>
                    <td>22658</td>
                    <td>22658/td>
                    <td>22658</td>
                    <td>22658</td>
                    <td>22658</td>
                    <td>22658</td>
                    <td>22658</td>
                    <td>22658</td>
                    <td class="table-warning">282 658</td>
                    <td class="table-warning totaux">282 658</td>
                    
                  </tr>
                  <tr>
                    <th class="table-warning">...</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="table-warning"></td>
                    <td class="table-warning totaux"></td>
                    
                  </tr>
                  <tr>
                    <th class="table-warning">...</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="table-warning"></td>
                    <td class="table-warning totaux"></td>
                    
                  </tr>

                  <tr>
                    <th class="table-warning">...</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="table-warning"></td>
                    <td class="table-warning totaux"></td>
                    
                  </tr>

                  <tr>
                    <th class="table-warning">Total</th>
                    <td>297766</td>
                    <td>297766</td>
                    <td>297766</td>
                    <td>297766</td>
                    <td>297766</td>
                    <td>297766</td>
                    <td>297766</td>
                    <td>297766</td>
                    <td>297766</td>
                    <td>297766</td>
                    <td>297766</td>
                    <td>297766</td>
                    <td class="table-warning">897 766</td>
                    <td class="table-warning totaux">1 594,43</td>
                    
                  </tr>

                  
                  
                  
                </tbody>
              </table>
            </div><!--end overflow-->
         
            <div class="float-left">Rente mensuelle * :<span><b>289 968 FCFA</b></span></div>
            <div class="float-right">* rente non reversible,sans capiatl, pour un depart a la retraite au soixantième anniversaire</div>


















        </div><!--end card-body2-->
    </div><!--end card mt-3-->

  